*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loginform {
   display: flex;
   flex-direction: column;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   padding: 1rem;
    height: auto;
    background-color: #f2f2f2;
}

.loginform form {
    display: flex; 
    flex-direction: column;
    padding:2rem 0;
}
.loginform form input{
    margin: 1rem 0;
}
.loginform form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
.loginform form input[type="email"],input[type="password"]{
    background-color: #fff;
    color: #1F2937;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 5s ease-in-out, border 5s ease-in-out;
  }
.loginform form input[type="submit"] {
    background-color: #3B82F6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  input[type="submit"]:hover {
    background-color: #2563EB;
    transform: scale(1.05);
    cursor: pointer;
  }
  input[type="submit"]:active {
    transform: scale(0.95);
  }
  
.loginform form input:focus {
    background-color: #E5E7EB;
    border: 1px solid #3B82F6;
    outline: none;
  }
  

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .loginform {
      width: 90%;
    }
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }